<!-- back button -->
<button class="btn btn-info mb-5" routerLink="/start">
  <span>&#8592; </span>
  <ng-container i18n="@@backToStart">Back to the main menu</ng-container>
</button>

<!-- vertical centered container -->
<div class="container h-75">
  <div class="row h-100">
    <div class="col my-auto">

      <!-- header -->
      <h1 *ngIf="!isQuizStarting" class="h1 text-center" i18n="@@selectQuizFormat">
        Select Quiz format
      </h1>

      <h1 *ngIf="isQuizStarting" class="h1 text-center" i18n="@@startingQuiz">
        Quiz is being started
      </h1>

      <!-- loading spinner while quiz is starting -->
      <div *ngIf="isQuizStarting" class="text-center m-5">
        <div class="spinner-border text-info" role="status"></div>
      </div>

      <!-- continue quiz -->
      <div *ngIf="!isQuizStarting && playQuizService.quizState.questionIds !== undefined" class="row m-3">
        <div class="col-12">
          <button class="btn btn-info w-100" (click)="continueQuiz()" i18n="continueQuiz">
            Continue previous started Quiz
          </button>
        </div>
      </div>

      <!-- random quiz -->
      <div *ngIf="!isQuizStarting" class="row m-3">
        <div class="col-12">
          <button class="btn btn-info w-100" (click)="selectRandomQuiz()" i18n="@@randomQuiz">
            Random Quiz
          </button>
        </div>
      </div>

      <!-- predefined quiz -->
      <div *ngIf="!isQuizStarting" class="row m-3">
        <div class="col-12">
          <button class="btn btn-info w-100" (click)="selectPredefinedQuiz()" i18n="@@predefinedQuiz">
            Predefined Quiz
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
