<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@deleteQuestion">Delete Question</h4>
  <button type="button" class="btn btn-danger fw-bold close" (click)="modalRef.dismiss()">
    &times;
  </button>
</div>

<div class="container">
  <div class="row g-3 mx-1 my-2 align-items-center">
    <!-- confirmation text -->
    <div class="col-12 text-center">
      <label i18n="@@confirmationRequestDeleteQuestion">
        Do you really wish to delete the Question?
      </label>
    </div>

    <!-- admin token -->
    <div class="col-3 fw-bold">
      <label i18n="@@adminToken">Admin Token</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="adminToken"
             (ngModelChange)="enableOrDisableDeleteButtonAccordingToInput()" />
    </div>

    <!-- error message -->
    <div class="col-12 text-center color-red modal-error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <!-- actions -->
    <div class="col-12">
      <div class="row">
        <!-- cancel -->
        <div class="col-6">
          <button class="btn btn-secondary w-100 h-100" (click)="modalRef.dismiss()" i18n="@@cancel">
            Cancel
          </button>
        </div>

        <!-- delete -->
        <div class="col-6">
          <button class="btn btn-danger w-100 h-100" (click)="deleteQuestion()" [disabled]="!deletingEnabled"
                  i18n="@@delete">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
