<!-- title and close button -->
<div class="modal-header">
  <h4>{{loc.localize(MESSAGE_ID.HEADERS.DELETE_QUESTION)}}</h4>
  <button type="button" class="close">
    <span aria-hidden="true" (click)="modalRef.dismiss()">&times;</span>
  </button>
</div>

<table class="table table-borderless modal-table">
  <!-- confirmation text -->
  <tr>
    <td colspan="2">
      {{loc.localize(MESSAGE_ID.CONFIRMATION.DELETE_QUESTION)}}
    </td>
  </tr>
  <!-- admin token -->
  <tr>
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.ADMIN_TOKEN)}}</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="adminToken"
             (ngModelChange)="enableOrDisableDeleteButtonAccordingToInput()" />
    </td>
  </tr>
</table>

<!-- error message -->
<div *ngIf="errorMessage" class="text-center color-red modal-error">
  <p>{{errorMessage}}</p>
</div>

<!-- actions -->
<div class="btn-group modal-buttons">
  <!-- cancel -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="modalRef.dismiss()">
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.CANCEL)}}
  </button>
  <!-- delete -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="deleteQuestion()" [disabled]="!deletingEnabled" >
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.DELETE)}}
  </button>
</div>

<!-- div with explicit space for workaround margin when scrollable -->
<div>&nbsp;</div>
