<!-- back button -->
<button class="btn btn-primary mb-5" routerLink="/start">
  <span>&#8592; </span>
  <ng-container i18n="@@backToStart">Back to the main menu</ng-container>
</button>

<div class="container text-center">

  <!-- quiz state -->
  <div class ="row">
    <div class="col">
      <h4>{{playQuizService.quizState.quizName}}</h4>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <!-- question X of N -->
      <ng-container i18n="@@question">Question </ng-container>
      <ng-container>
        {{playQuizService.quizState.currentIndex + 1}} / {{playQuizService.quizState.questionIds.length}}
      </ng-container>
    </div>
    <div class="col">
      <!-- count of correct answers -->
      <ng-container i18n="@@correctAnswers">Correct Answers: </ng-container>
      <ng-container>{{playQuizService.quizState.correctAnswers}}</ng-container>
    </div>
    <div class="col">
      <!-- count of wrong answers -->
      <ng-container i18n="@@wrongAnswers">Wrong Answers: </ng-container>
      <ng-container>{{playQuizService.quizState.wrongAnswers}}</ng-container>
    </div>
  </div>
  <hr />

  <!-- loading spinner -->
  <div *ngIf="isLoadingNextQuestion" class="text-center m-5">
    <div class="spinner-border text-primary" role="status"></div>
  </div>

  <!-- question and navigation -->
  <div *ngIf="!isLoadingNextQuestion">

    <!-- next question after answering -->
    <div class="row my-4 mx-2" *ngIf="isAnswerSelected && !isLastQuestion" (click)="nextQuestion()">
      <button class="btn btn-warning w-100 rounded p-3" i18n="@@nextQuestion">
        Next Question
      </button>
    </div>

    <!-- go to end page when the last question is answered -->
    <div class="row my-4 mx-2" *ngIf="isAnswerSelected && isLastQuestion" (click)="finishQuiz()">
      <button class="btn btn-warning w-100 rounded p-3" i18n="@@finishQuiz">
        Finish Quiz
      </button>
    </div>

    <!-- question -->
    <div class="row">
      <div class="col">
        <h2 class="p-3">{{question.questionText}}</h2>
      </div>
    </div>

    <!-- answers -->
    <div *ngFor="let answer of question.possibleAnswers;" class="row my-4 mx-2">
      <button id="answerbtn-{{answer.answerLetter}}" class="btn btn-primary w-100 rounded p-3" [disabled]="isAnswerSelected"
              (click)="checkAnswer(answer.answerLetter, false)">
        <span class="font-weight-bold d-inline-block h-100 vertical-align-middle mr-3">{{answer.answerLetter}}: </span>
        <span class="d-inline-block w-90">{{answer.answerText}}</span>
      </button>
    </div>

  </div>

</div>
