<div class="container text-center" *ngIf="question">
  <!-- question -->
  <div class="row">
    <div class="col">
      <h2 class="p-5">{{question.questionText}}</h2>
    </div>
  </div>
  <!-- answers -->
  <div *ngFor="let answer of question.possibleAnswers" class="row my-4 mx-2">
    <button id="answerbtn-{{answer.answerLetter}}" class="btn btn-block btn-info rounded p-3" [disabled]="answerSelected"
            (click)="checkAnswer(answer.answerLetter)">
      <span class="font-weight-bold d-inline-block h-100 vertical-align-middle mr-3">{{answer.answerLetter}}: </span>
      <span class="d-inline-block w-90">{{answer.answerText}}</span>
    </button>
  </div>
</div>
