<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@addQuestion">Add Question</h4>
  <button type="button" class="btn btn-danger fw-bold close" (click)="modalRef.dismiss()">
    &times;
  </button>
</div>

<!-- question data -->
<div class="container">
  <div class="row g-3 mx-1 my-2 align-items-center">
    <!-- question text -->
    <div class="col-3 fw-bold">
      <label i18n="@@questionText">Question Text</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="newQuestion.questionText"
             (ngModelChange)="enableOrDisableAddButtonAccordingToInput()" />
    </div>

    <!-- question correct answer -->
    <div class="col-3 fw-bold">
      <label i18n="@@correctAnswer">Correct Answer</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="newQuestion.correctAnswer"
             (ngModelChange)="enableOrDisableAddButtonAccordingToInput()" />
    </div>

    <!-- wrong answer 1 -->
    <div class="col-3 fw-bold">
      <label i18n="@@wrongAnswer1">Wrong Answer 1</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="newQuestion.wrongAnswer1"
             (ngModelChange)="enableOrDisableAddButtonAccordingToInput()" />
    </div>

    <!-- wrong answer 2 -->
    <div class="col-3 fw-bold">
      <label i18n="@@wrongAnswer2">Wrong Answer 2</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="newQuestion.wrongAnswer2"
             (ngModelChange)="enableOrDisableAddButtonAccordingToInput()" />
    </div>

    <!-- wrong answer 3 -->
    <div class="col-3 fw-bold">
      <label i18n="@@wrongAnswer3">Wrong Answer 3</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="newQuestion.wrongAnswer3"
             (ngModelChange)="enableOrDisableAddButtonAccordingToInput()" />
    </div>

    <!-- admin token -->
    <div class="col-3 fw-bold">
      <label i18n="@@adminToken">Admin Token</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="adminToken"
             (ngModelChange)="enableOrDisableAddButtonAccordingToInput()" />
    </div>

    <!-- error message -->
    <div class="col-12 text-center text-danger modal-error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <!-- actions -->
    <div class="col-12">
      <div class="row">
        <!-- cancel -->
        <div class="col-6">
          <button class="btn btn-secondary w-100 h-100" (click)="modalRef.dismiss()" i18n="@@cancel">
            Cancel
          </button>
        </div>

        <!-- save -->
        <div class="col-6">
          <button class="btn btn-primary w-100 h-100" (click)="addQuestion()" [disabled]="!addingEnabled" i18n="@@save">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
