<h1 class="h1 text-center mb-4">{{loc.localize(MESSAGE_ID.HEADERS.MANAGE_QUESTIONS)}}</h1>

<button class="btn btn-block btn-info" (click)="addQuestion()">
  {{loc.localize(MESSAGE_ID.ACTION_LABELS.ADD_QUESTION)}}
</button>

<ngb-accordion *ngIf="allQuestions.length > 0" [closeOthers]="true" activeIds="static-{{allQuestions[0].id}}" type="info"
               class="p-5">
  <ngb-panel *ngFor="let question of allQuestions; let idx = index"  id="static-{{question.id}}" title="{{question.questionText}}">
    <ng-template ngbPanelContent style="background: var(--info)">
      <!-- question data -->
      <table class="table table-borderless">
        <!-- configure column size -->
        <thead>
          <tr>
            <td style="width: 25%"></td>
            <td style="width: 75%"></td>
          </tr>
        </thead>
        <!-- question ID -->
        <tr>
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.ID)}}</th>
          <td>{{question.id}}</td>
        </tr>
        <!-- question text -->
        <tr>
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.QUESTION_TEXT)}}</th>
          <td>{{question.questionText}}</td>
        </tr>
        <!-- question correct answer -->
        <tr *ngIf="!showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.CORRECT_ANSWER)}}</th>
          <td>**********</td>
        </tr>
        <tr *ngIf="showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.CORRECT_ANSWER)}}</th>
          <td>{{question.correctAnswer}}</td>
        </tr>
        <!-- wrong answer 1 (once shown, once masked by stars for hiding the answer) -->
        <tr *ngIf="!showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_1)}}</th>
          <td>**********</td>
        </tr>
        <tr *ngIf="showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_1)}}</th>
          <td>{{question.wrongAnswer1}}</td>
        </tr>
        <!-- wrong answer 2 (once shown, once masked by stars for hiding the answer) -->
        <tr *ngIf="!showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_2)}}</th>
          <td>**********</td>
        </tr>
        <tr *ngIf="showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_2)}}</th>
          <td>{{question.wrongAnswer2}}</td>
        </tr>
        <!-- wrong answer 3 (once shown, once masked by stars for hiding the answer) -->
        <tr *ngIf="!showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_3)}}</th>
          <td>**********</td>
        </tr>
        <tr *ngIf="showAnswersIds.includes(question.id)">
          <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_3)}}</th>
          <td>{{question.wrongAnswer3}}</td>
        </tr>
      </table>
      <!-- horizontal line -->
      <hr />
      <!-- actions -->
      <table class="table table-borderless">
        <tr>
          <th colspan="3">{{loc.localize(MESSAGE_ID.ACTION_LABELS.ACTIONS)}}</th>
        </tr>
        <tr>
          <!-- show answers if currently hidden -->
          <td style="width: 33.33%" *ngIf="!showAnswersIds.includes(question.id)">
            <button class="btn btn-block btn-info" (click)="showAnswers(question.id)">
              {{loc.localize(MESSAGE_ID.ACTION_LABELS.SHOW_ANSWERS)}}
            </button>
          </td>
          <!-- hide answers if currently shown -->
          <td style="width: 33.33%" *ngIf="showAnswersIds.includes(question.id)">
            <button class="btn btn-block btn-info" (click)="hideAnswers(question.id)">
              {{loc.localize(MESSAGE_ID.ACTION_LABELS.HIDE_ANSWERS)}}
            </button>
          </td>
          <!-- edit -->
          <td style="width: 33.33%">
            <button class="btn btn-block btn-info" (click)="editQuestion(question.id, idx)">
              {{loc.localize(MESSAGE_ID.ACTION_LABELS.EDIT)}}
            </button>
          </td>
          <!-- delete -->
          <td style="width: 33.33%">
            <button class="btn btn-block btn-info" (click)="deleteQuestion(question.id, idx)">
              {{loc.localize(MESSAGE_ID.ACTION_LABELS.DELETE)}}
            </button>
          </td>
        </tr>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
