<!-- back button -->
<button class="btn btn-info mb-5" routerLink="/start">
  <span>&#8592; </span>
  <ng-container i18n="@@backToStart">Back to the main menu</ng-container>
</button>

<!-- vertical centered container -->
<div class="container h-75">
  <div class="row h-100">
    <div class="col my-auto">

      <!-- header -->
      <h1 class="h1 text-center mb-4" i18n="@@manageQuestions">Manage Questions</h1>

      <!-- add question -->
      <button class="btn btn-block btn-info" (click)="addQuestion()" i18n="@@addQuestion">
        Add Question
      </button>

      <!-- no questions -->
      <h5 *ngIf="!isLoading && allQuestions.length === 0" class="text-center p-5" i18n="@@noQuestions">
        There are no questions available.
      </h5>

      <!-- loading spinner -->
      <div *ngIf="isLoading" class="text-center m-5">
        <div class="spinner-border text-info" role="status"></div>
      </div>

      <!-- questions -->
      <ngb-accordion *ngIf="allQuestions.length > 0" [closeOthers]="true" activeIds="static-{{allQuestions[0].id}}" type="info"
                     class="p-5" [hidden]="isLoading">
        <ngb-panel *ngFor="let question of allQuestions; let idx = index"  id="static-{{question.id}}" title="{{question.questionText}}">
          <ng-template ngbPanelContent style="background: var(--info)">
            <!-- question data -->
            <table class="table table-borderless">
              <!-- configure column size -->
              <thead>
                <tr>
                  <td style="width: 25%"></td>
                  <td style="width: 75%"></td>
                </tr>
              </thead>
              <!-- question ID -->
              <tr>
                <th i18n="@@id">ID</th>
                <td>{{question.id}}</td>
              </tr>
              <!-- question text -->
              <tr>
                <th i18n="@@questionText">Question Text</th>
                <td>{{question.questionText}}</td>
              </tr>
              <!-- question correct answer -->
              <tr *ngIf="!showAnswersIds.includes(question.id)">
                <th i18n="@@correctAnswer">Correct Answer</th>
                <td>**********</td>
              </tr>
              <tr *ngIf="showAnswersIds.includes(question.id)">
                <th i18n="@@correctAnswer">Correct Answer</th>
                <td>{{question.correctAnswer}}</td>
              </tr>
              <!-- wrong answer 1 (once shown, once masked by stars for hiding the answer) -->
              <tr *ngIf="!showAnswersIds.includes(question.id)">
                <th i18n="@@wrongAnswer1">Wrong Answer 1</th>
                <td>**********</td>
              </tr>
              <tr *ngIf="showAnswersIds.includes(question.id)">
                <th i18n="@@wrongAnswer1">Wrong Answer 1</th>
                <td>{{question.wrongAnswer1}}</td>
              </tr>
              <!-- wrong answer 2 (once shown, once masked by stars for hiding the answer) -->
              <tr *ngIf="!showAnswersIds.includes(question.id)">
                <th i18n="@@wrongAnswer2">Wrong Answer 2</th>
                <td>**********</td>
              </tr>
              <tr *ngIf="showAnswersIds.includes(question.id)">
                <th i18n="@@wrongAnswer2">Wrong Answer 2</th>
                <td>{{question.wrongAnswer2}}</td>
              </tr>
              <!-- wrong answer 3 (once shown, once masked by stars for hiding the answer) -->
              <tr *ngIf="!showAnswersIds.includes(question.id)">
                <th i18n="@@wrongAnswer3">Wrong Answer 3</th>
                <td>**********</td>
              </tr>
              <tr *ngIf="showAnswersIds.includes(question.id)">
                <th i18n="@@wrongAnswer3">Wrong Answer 3</th>
                <td>{{question.wrongAnswer3}}</td>
              </tr>
            </table>
            <!-- horizontal line -->
            <hr />
            <!-- actions -->
            <table class="table table-borderless">
              <tr>
                <th colspan="3" i18n="@@actions">Actions</th>
              </tr>
              <tr>
                <!-- show answers if currently hidden -->
                <td style="width: 33.33%" *ngIf="!showAnswersIds.includes(question.id)">
                  <button class="btn btn-block btn-info" (click)="showAnswers(question.id)" i18n="@@showAnswers">
                    Show Answers
                  </button>
                </td>
                <!-- hide answers if currently shown -->
                <td style="width: 33.33%" *ngIf="showAnswersIds.includes(question.id)">
                  <button class="btn btn-block btn-info" (click)="hideAnswers(question.id)" i18n="@@hideAnswers">
                    Hide Answers
                  </button>
                </td>
                <!-- edit -->
                <td style="width: 33.33%">
                  <button class="btn btn-block btn-info" (click)="editQuestion(question.id, idx)" i18n="@@edit">
                    Edit
                  </button>
                </td>
                <!-- delete -->
                <td style="width: 33.33%">
                  <button class="btn btn-block btn-info" (click)="deleteQuestion(question.id, idx)" i18n="@@delete">
                    Delete
                  </button>
                </td>
              </tr>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>
</div>
