<!-- back button -->
<button class="btn btn-info mb-5" routerLink="/start">
  <span>&#8592; </span>
  <ng-container i18n="@@backToStart">Back to the main menu</ng-container>
</button>

<!-- vertical centered container -->
<div class="container h-75">
  <div class="row h-100">
    <div class="col my-auto">

      <!-- header -->
      <h1 class="h1 text-center mb-4" i18n="@@managePredefinedQuizzes">
        Manage predefined Quizzes
      </h1>

      <!-- add quiz -->
      <button *ngIf="!isLoading" class="btn btn-info w-100" (click)="addQuiz()" i18n="@@addPredefinedQuiz">
        Add predefined Quiz
      </button>

      <!-- no quizzes -->
      <h5 *ngIf="!isLoading && allQuizzes.length === 0" class="text-center p-5" i18n="@@noPredefinedQuiz">
        There are no predefined Quizzes available.
      </h5>

      <!-- loading spinner -->
      <div *ngIf="isLoading" class="text-center m-5">
        <div class="spinner-border text-info" role="status"></div>
      </div>

      <!-- quizzes -->
      <ngb-accordion *ngIf="allQuizzes.length > 0" [closeOthers]="true" activeIds="static-{{allQuizzes[0].quizId}}" type="info"
                     class="p-5" [hidden]="isLoading">
        <ngb-panel *ngFor="let quiz of allQuizzes; let idx = index" id="static-{{quiz.quizId}}" title="{{quiz.quizName}}">
          <ng-template ngbPanelContent style="background: var(--bs-info)">
            <!-- quiz data -->
            <table class="table table-borderless">
              <!-- configure column size -->
              <thead>
              <tr>
                <td style="width: 25%"></td>
                <td style="width: 75%"></td>
              </tr>
              </thead>
              <!-- quiz ID -->
              <tr>
                <th i18n="@@id">ID</th>
                <td>{{quiz.quizId}}</td>
              </tr>
              <!-- quiz name -->
              <tr>
                <th i18n="@@quizName">Quiz Name</th>
                <td>{{quiz.quizName}}</td>
              </tr>
              <!-- question count -->
              <tr>
                <th i18n="@@questionCount">Question Count</th>
                <td >{{quiz.questionCount}}</td>
              </tr>
              <!-- loading spinner while fetching and rendering questions -->
              <tr *ngIf="quiz.questionCount > 0 && questionsRendered.get(quiz.quizId) !== true">
                <th i18n="@@questions">Questions</th>
                <td>
                  <div class="spinner-border spinner-border-sm text-info" role="status"></div>
                </td>
              </tr>
              <!-- currently no questions -->
              <tr *ngIf="quiz.questionCount === 0">
                <th i18n="@@questions">Questions</th>
                <td colspan="2" i18n="@@noUsedQuestions">There are no questions are assigned to this Quiz yet.</td>
              </tr>
              <!-- resolved questions -->
              <tr id="questions-{{quiz.quizId}}" *ngFor="let resolvedQuestion of quiz.resolvedQuestions; let qArrIdx = index"
                  [hidden]="!questionsRendered.get(quiz.quizId)" >
                <!-- only show header in front of first question -->
                <th *ngIf="qArrIdx === 0" i18n="@@questions">Questions</th>
                <th *ngIf="qArrIdx !== 0"></th>
                <!-- actual question -->
                <td>{{resolvedQuestion.questionText}}</td>
                <!-- set rendering flag on last index -->
                {{qArrIdx === (quiz.resolvedQuestions.length - 1) ? markQuestionsAsRendered(quiz.quizId) : '' }}
              </tr>
            </table>
            <!-- horizontal line -->
            <hr />
            <!-- actions -->
            <table class="table table-borderless">
              <tr>
                <th colspan="2" i18n="@@actions">Actions</th>
              </tr>
              <tr>
                <!-- edit -->
                <td style="width: 33.33%">
                  <button class="btn btn-info w-100" (click)="editQuiz(quiz.quizId, idx)" i18n="@@edit">
                    Edit
                  </button>
                </td>
                <!-- delete -->
                <td style="width: 33.33%">
                  <button class="btn btn-info w-100" (click)="deleteQuiz(quiz.quizId, idx)" i18n="@@delete">
                    Delete
                  </button>
                </td>
              </tr>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>
  </div>
</div>
