<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@addQuiz">Add Quiz</h4>
  <button type="button" class="btn btn-danger fw-bold close" (click)="modalRef.dismiss()">
    &times;
  </button>
</div>

<!-- quiz data -->
<div class="container">
  <div class="row g-3 mx-1 my-2 align-items-center">
    <!-- quiz name -->
    <div class="col-3 fw-bold">
      <label i18n="@@quizName">Quiz Name</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="newQuiz.quizName"
             (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </div>

    <!-- question count -->
    <div class="col-3 fw-bold">
      <label i18n="@@questionCount">Question Count</label>
    </div>
    <div class="col-9">
      {{newQuiz.questionCount}}
    </div>

    <!-------------------->
    <!-- used questions -->
    <!-------------------->

    <!-- used questions header -->
    <div class="col-12 fw-bold">
      <label i18n="@@usedQuestions">Used Questions</label>
    </div>

    <!-- currently no used question -->
    <div class="col-12 text-center" *ngIf="newQuiz.resolvedQuestions.length === 0">
      <p i18n="@@noUsedQuestions">There are no questions are assigned to this Quiz yet.</p>
    </div>

    <!-- actual questions with action buttons -->
    <div class="col-12">
      <div class="row g-3">
        <ng-container *ngFor="let question of newQuiz.resolvedQuestions; let idxResolvedQuestions = index">
          <!-- actions for the question -->
          <div class="col-4 text-center">
            <!-- swap with predecessor question -->
            <button [disabled]="idxResolvedQuestions === 0"
                    class="btn btn-primary h-100 fw-bold"
                    (click)="swapQuestionWithPredecessor(idxResolvedQuestions)">&#8593;</button>
            <!-- remove -->
            <button class="btn btn-danger h-100 fw-bold mx-2"
                    (click)="removeQuestion(idxResolvedQuestions)">&times;</button>
            <!-- swap with successor question -->
            <button [disabled]="idxResolvedQuestions === (newQuiz.questionCount - 1)"
                    class="btn btn-primary h-100 fw-bold"
                    (click)="swapQuestionWithSuccessor(idxResolvedQuestions)">&#8595;</button>
          </div>

          <!-- question text -->
          <div class="col-8 d-flex align-items-center">
            {{question.questionText}}
          </div>
        </ng-container>
      </div>
    </div>

    <!---------------------->
    <!-- unused questions -->
    <!---------------------->

    <!-- unused questions header -->
    <div class="col-12 fw-bold">
      <label i18n="@@unusedQuestions">Unused Questions</label>
    </div>

    <!-- currently unused question -->
    <div class="col-12 text-center" *ngIf="unusedQuestions && unusedQuestions.length === 0">
      <p i18n="@@noUnusedQuestions">All existing questions are already assigned to this Quiz.</p>
    </div>

    <!-- actual questions with action buttons -->
    <div class="col-12">
      <div class="row g-3">
        <ng-container *ngFor="let question of unusedQuestions; let idxUnusedQuestions = index">
          <!-- add to used questions -->
          <div class="col-4 text-center">
            <button class="btn btn-success fw-bold"
                            (click)="addQuestion(idxUnusedQuestions)">+</button>
          </div>

          <!-- question text -->
          <div class="col-8 d-flex align-items-center">
            {{question.questionText}}
          </div>
        </ng-container>
      </div>
    </div>

    <!-- admin token -->
    <div class="col-3 fw-bold">
      <label i18n="@@adminToken">Admin Token</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="adminToken"
             (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </div>

    <!-- error message -->
    <div class="col-12 text-center color-red modal-error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <!-- actions -->
    <div class="col-12">
      <div class="row">
        <!-- cancel -->
        <div class="col-6">
          <button class="btn btn-secondary w-100 h-100" (click)="modalRef.dismiss()" i18n="@@cancel">
            Cancel
          </button>
        </div>

        <!-- save -->
        <div class="col-6">
          <button class="btn btn-primary w-100 h-100" (click)="saveQuiz()" [disabled]="!savingEnabled" i18n="@@save">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
