<!-- title and close button -->
<div class="modal-header">
  <h4>{{loc.localize(MESSAGE_ID.HEADERS.EDIT_QUIZ)}}</h4>
  <button type="button" class="close">
    <span aria-hidden="true" (click)="modalRef.dismiss()">&times;</span>
  </button>
</div>

<!-- quiz data -->
<table class="table table-borderless modal-table">
  <!-- configure column size -->
  <thead>
  <tr>
    <td style="width: 25%"></td>
    <td style="width: 75%"></td>
  </tr>
  </thead>
  <!-- quiz name -->
  <tr>
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.QUIZ_NAME)}}</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="newQuiz.quizName"
             (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
  <!-- question count -->
  <tr>
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.QUESTION_COUNT)}}</th>
    <td>{{newQuiz.questionCount}}</td>
  </tr>
  <!-- used questions -->
  <tr>
    <th colspan="2">{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.USED_QUESTIONS)}}</th>
  </tr>
  <tr *ngIf="newQuiz.resolvedQuestions.length == 0" class="text-center">
    <!-- currently no used question -->
    <td colspan="2">{{loc.localize(MESSAGE_ID.INFO.NO_USED_QUESTIONS)}}</td>
  </tr>
  <tr *ngFor="let question of newQuiz.resolvedQuestions; let idxResolvedQuestions = index">
    <!-- remove and sort buttons -->
    <td class="text-center">
      <div class="btn-group">
        <!-- swap with predecessor question -->
        <button [disabled]="idxResolvedQuestions == 0"
                class="btn btn-info rounded my-0 mx-1 font-weight-bold"
                (click)="swapQuestionWithPredecessor(idxResolvedQuestions)">&#8593;</button>
        <!-- remove -->
        <button class="btn btn-info rounded my-0 mx-1 font-weight-bold remove-button"
                (click)="removeQuestion(idxResolvedQuestions)">&times;</button>
        <!-- swap with successor question -->
        <button [disabled]="idxResolvedQuestions == (newQuiz.questionCount - 1)"
                class="btn btn-info rounded my-0 mx-1 font-weight-bold"
                (click)="swapQuestionWithSuccessor(idxResolvedQuestions)">&#8595;</button>
      </div>
    </td>
    <!-- question text -->
    <td>{{question.questionText}}</td>
  </tr>
  <!-- unused questions -->
  <tr>
    <th colspan="2">{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.UNUSED_QUESTIONS)}}</th>
  </tr>
  <tr *ngIf="unusedQuestions.length == 0" class="text-center">
    <!-- currently no unused question -->
    <td colspan="2">{{loc.localize(MESSAGE_ID.INFO.NO_UNUSED_QUESTIONS)}}</td>
  </tr>
  <tr *ngFor="let question of unusedQuestions; let idxUnusedQuestions = index">
    <!-- add button -->
    <td class="text-center">
      <button class="btn btn-info rounded my-0 mx-1 font-weight-bold add-button"
              (click)="addQuestion(idxUnusedQuestions)">+</button>
    </td>
    <!-- question text -->
    <td>{{question.questionText}}</td>
  </tr>
  <!-- admin token -->
  <tr>
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.ADMIN_TOKEN)}}</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="adminToken"
             (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
</table>

<!-- error message -->
<div *ngIf="errorMessage" class="text-center color-red modal-error">
  <p>{{errorMessage}}</p>
</div>

<!-- actions -->
<div class="btn-group modal-buttons">
  <!-- cancel -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="modalRef.dismiss()">
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.CANCEL)}}
  </button>
  <!-- save -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="saveQuiz()" [disabled]="!savingEnabled">
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.SAVE)}}
  </button>
</div>

<!-- div with explicit space for workaround margin when scrollable -->
<div>&nbsp;</div>
