<!-- back button -->
<button class="btn btn-primary mb-5" routerLink="/start">
  <span>&#8592; </span>
  <ng-container i18n="@@backToStart">Back to the main menu</ng-container>
</button>

<!-- vertical centered container -->
<div class="container h-75">
  <div class="row h-100">
    <div class="col my-auto">

      <!-- header -->
      <h1 class="h1 text-center mb-4" i18n="@@hdrError">Error!</h1>

      <!-- info about not reachable backend -->
      <p class="h5 text-center mb-4" i18n="@@errorBackendNotReachable">The server is not reachable.</p>

    </div>
  </div>
</div>
