<!-- back button -->
<button class="btn btn-info mb-5" routerLink="/start">&#8592; {{loc.localize(MESSAGE_ID.ACTION_LABELS.BACK_TO_START)}}</button>

<!-- vertical centered container -->
<div class="container h-75">
  <div class="row h-100">
    <div class="col my-auto">

      <!-- header -->
      <h1 class="h1 text-center mb-4">{{loc.localize(MESSAGE_ID.HEADERS.ERROR)}}</h1>

      <!-- info about not reachable backend -->
      <p class="h5 text-center mb-4">{{loc.localize(MESSAGE_ID.ERRORS.BACKEND_NOT_REACHABLE)}}</p>

    </div>
  </div>
</div>
