<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@deleteQuiz">Delete Quiz</h4>
  <button type="button" class="close">
    <span aria-hidden="true" (click)="modalRef.dismiss()">&times;</span>
  </button>
</div>

<table class="table table-borderless">
  <!-- confirmation text -->
  <tr>
    <td colspan="2" i18n="@@confirmationRequestDeleteQuiz">
      Do you really wish to delete the Quiz?
    </td>
  </tr>
  <!-- admin token -->
  <tr>
    <th i18n="@@adminToken">Admin Token</th>
    <td>
      <input class="w-100 p-2" [(ngModel)]="adminToken"
             (ngModelChange)="enableOrDisableDeleteButtonAccordingToInput()" />
    </td>
  </tr>
</table>

<!-- error message -->
<div *ngIf="errorMessage" class="text-center color-red">
  <p>{{errorMessage}}</p>
</div>

<!-- actions -->
<div class="btn-group">
  <!-- cancel -->
  <button class="btn btn-info w-100 rounded my-0 mx-2" (click)="modalRef.dismiss()" i18n="@@cancel">
    Cancel
  </button>
  <!-- delete -->
  <button class="btn btn-info w-100 rounded my-0 mx-2" (click)="deleteQuiz()" [disabled]="!deletingEnabled"
          i18n="@@delete">
    Delete
  </button>
</div>

<!-- div with explicit space for workaround margin when scrollable -->
<div>&nbsp;</div>
