<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@createRandomQuiz">Create a random Quiz</h4>
  <button type="button" class="close">
    <span aria-hidden="true" (click)="modalRef.dismiss()">&times;</span>
  </button>
</div>

<!-- list of playable predefined quizzes -->
<table class="table table-borderless modal-table text-center">
  <!-- configure column size -->
  <thead>
  <tr>
    <td style="width: 30%"></td>
    <td style="width: 70%"></td>
  </tr>
  </thead>

  <!-- info about no questions -->
  <tr *ngIf="!isLoading && !errorMessage && totalQuestions === 0" class="text-center">
    <td colspan="2" i18n="@@noRandomQuizSinceNoQuestions">
      You have not created any questions yet. Thus, you cannot play a random Quiz.
    </td>
  </tr>

  <!-- loading spinner -->
  <tr *ngIf="isLoading && !errorMessage">
    <td colspan="2">
      <div class="text-center">
        <div class="spinner-border text-info" role="status"></div>
      </div>
    </td>
  </tr>

  <!-- error message -->
  <tr *ngIf="errorMessage">
    <td colspan="2">
      <div class="text-center">
        <p class="color-red">{{errorMessage}}</p>
      </div>
    </td>
  </tr>

  <!-- question count -->
  <tr *ngIf="!isLoading && !errorMessage && totalQuestions > 0">
    <th i18n="@@questionCount">Question Count</th>
    <td class="px-2">
      <div class="btn-group text-center">
        <button class="btn btn-info rounded my-0 mx-1 font-weight-bold remove-button" [disabled]="questionCount === MIN_QUESTION_COUNT"
                (click)="decreaseQuestionCount()">&#8722;</button>
        <input class="px-2 text-center" [(ngModel)]="questionCount" readonly />
        <button class="btn btn-info rounded my-0 mx-1 font-weight-bold add-button" [disabled]="questionCount === MAX_QUESTION_COUNT"
                (click)="increaseQuestionCount()">+</button>
      </div>
    </td>
  </tr>

  <!-- play button -->
  <tr *ngIf="!isLoading && !errorMessage && totalQuestions > 0">
    <td colspan="2" class="text-center">
      <button class="btn btn-block btn-info rounded my-0 mx-1" (click)="playQuiz()" i18n="@@play">
        Play
      </button>
    </td>
  </tr>
</table>

<!-- div with explicit space for workaround margin when scrollable -->
<div>&nbsp;</div>
