<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@createRandomQuiz">Create a random Quiz</h4>
  <button type="button" class="btn btn-danger fw-bold close" (click)="modalRef.dismiss()">
    &times;
  </button>
</div>

<!-- list of playable predefined quizzes -->
<div class="container">
  <div class="row g-3 mx-1 my-2">
    <!-- info about no questions -->
    <div class="col-12 text-center"  *ngIf="!isLoading && !errorMessage && totalQuestions === 0"
         i18n="@@noRandomQuizSinceNoQuestions">
      You have not created any questions yet. Thus, you cannot play a random Quiz.
    </div>

    <!-- loading spinner -->
    <div class="col-12 text-center" *ngIf="isLoading && !errorMessage">
      <div class="spinner-border text-info" role="status"></div>
    </div>

    <!-- error message -->
    <div class="col-12 text-center color-red modal-error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <!-- question count -->
    <ng-container *ngIf="!isLoading && !errorMessage && totalQuestions > 0">
      <div class="col-4 d-flex align-items-center" i18n="@@questionCount">
        Question Count
      </div>
      <div class="col-8 d-flex">
          <!-- minus button -->
          <button class="btn btn-danger fw-bold"
                  [disabled]="questionCount === MIN_QUESTION_COUNT"
                  (click)="decreaseQuestionCount()">&#8722;</button>
          <!-- current selected question count -->
          <input class="form-control mx-2 text-center" [(ngModel)]="questionCount" readonly />
          <!-- plus button -->
          <button [disabled]="questionCount === MAX_QUESTION_COUNT"
                  class="btn btn-success fw-bold"
                  (click)="increaseQuestionCount()">+</button>
      </div>
    </ng-container>

    <!-- play button -->
    <div class="col-12" *ngIf="!isLoading && !errorMessage && totalQuestions > 0">
      <button class="btn btn-info w-100" (click)="playQuiz()" i18n="@@play">
        Play
      </button>
    </div>
  </div>
</div>
