<!-- title and close button -->
<div class="modal-header">
  <h4>Frage bearbeiten</h4>
  <button type="button" class="close">
    <span aria-hidden="true" (click)="modalRef.dismiss()">&times;</span>
  </button>
</div>

<!-- question data -->
<table class="table table-borderless">
  <!-- configure column size -->
  <thead>
  <tr>
    <td style="width: 25%"></td>
    <td style="width: 75%"></td>
  </tr>
  </thead>
  <!-- question ID -->
  <tr>
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.ID)}}</th>
    <td>{{editedQuestion.id}}</td>
  </tr>
  <!-- question text -->
  <tr>
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.QUESTION_TEXT)}}</th>
    <td>
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.questionText" />
    </td>
  </tr>
  <!-- question correct answer -->
  <tr *ngIf="!editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.CORRECT_ANSWER)}}</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.CORRECT_ANSWER)}}</th>
    <td>
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.correctAnswer" />
    </td>
  </tr>
  <!-- wrong answer 1 (once shown, once masked by stars for hiding the answer) -->
  <tr *ngIf="!editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_1)}}</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_1)}}</th>
    <td>
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer1" />
    </td>
  </tr>
  <!-- wrong answer 2 (once shown, once masked by stars for hiding the answer) -->
  <tr *ngIf="!editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_2)}}</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_2)}}</th>
    <td>
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer2" />
    </td>
  </tr>
  <!-- wrong answer 3 (once shown, once masked by stars for hiding the answer) -->
  <tr *ngIf="!editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_3)}}</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.WRONG_ANSWER_3)}}</th>
    <td>
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer3" />
    </td>
  </tr>
  <!-- admin token -->
  <tr>
    <th>{{loc.localize(MESSAGE_ID.ATTRIBUTE_NAMES.ADMIN_TOKEN)}}</th>
    <td>
      <input class="w-100 p-2" [(ngModel)]="adminToken" />
    </td>
  </tr>
</table>

<!-- error message -->
<div *ngIf="errorMessage" class="text-center color-red">
  <p>{{errorMessage}}</p>
</div>

<!-- actions -->
<div class="btn-group">
  <!-- make answers editable if currently not editable -->
  <button *ngIf="!editableAnswers"
          class="btn btn-block btn-info rounded my-0 mx-2" (click)="setEditableAnswers(true)">
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.EDIT_ANSWERS)}}
  </button>
  <!-- make answers not editable if currently editable -->
  <button *ngIf="editableAnswers"
          class="btn btn-block btn-info rounded my-0 mx-2" (click)="setEditableAnswers(false)">
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.NO_EDIT_ANSWERS)}}
  </button>
  <!-- cancel -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="modalRef.dismiss()">
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.CANCEL)}}
  </button>
  <!-- save -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="saveQuestion()">
    {{loc.localize(MESSAGE_ID.ACTION_LABELS.SAVE)}}
  </button>
</div>

<!-- div with explicit space for workaround margin when scrollable -->
<div>&nbsp;</div>
