<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@editQuestion">Edit Question</h4>
  <button type="button" class="btn btn-danger fw-bold close" (click)="modalRef.dismiss()">
    &times;
  </button>
</div>

<!-- question data -->
<div class="container">
  <div class="row g-3 mx-1 my-2 align-items-center">
    <!-- question ID -->
    <div class="col-3 fw-bold">
      <label i18n="@@id">ID</label>
    </div>
    <div class="col-9">
      <input class="form-control" [disabled]="true" [value]="editedQuestion.id"/>
    </div>

    <!-- question text -->
    <div class="col-3 fw-bold">
      <label i18n="@@questionText">Question Text</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="editedQuestion.questionText"
             (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </div>

    <!-- correct answer (not editable) -->
    <ng-container *ngIf="!editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@correctAnswer">Correct Answer</label>
      </div>
      <div class="col-9">
        &lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;
      </div>
    </ng-container>

    <!-- correct answer (editable) -->
    <ng-container *ngIf="editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@correctAnswer">Correct Answer</label>
      </div>
      <div class="col-9">
        <input class="form-control w-100 p-2" [(ngModel)]="editedQuestion.correctAnswer"
               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
      </div>
    </ng-container>

    <!-- wrong answer 1 (not editable) -->
    <ng-container *ngIf="!editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@wrongAnswer1">Wrong Answer 1</label>
      </div>
      <div class="col-9">
        &lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;
      </div>
    </ng-container>

    <!-- wrong answer 1 (editable) -->
    <ng-container *ngIf="editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@wrongAnswer1">Wrong Answer 1</label>
      </div>
      <div class="col-9">
        <input class="form-control w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer1"
               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
      </div>
    </ng-container>

    <!-- wrong answer 2 (not editable) -->
    <ng-container *ngIf="!editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@wrongAnswer2">Wrong Answer 2</label>
      </div>
      <div class="col-9">
        &lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;
      </div>
    </ng-container>

    <!-- wrong answer 2 (editable) -->
    <ng-container *ngIf="editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@wrongAnswer2">Wrong Answer 2</label>
      </div>
      <div class="col-9">
        <input class="form-control w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer2"
               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
      </div>
    </ng-container>

    <!-- wrong answer 3 (not editable) -->
    <ng-container *ngIf="!editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@wrongAnswer3">Wrong Answer 3</label>
      </div>
      <div class="col-9">
        &lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;&lowast;
      </div>
    </ng-container>

    <!-- wrong answer 3 (editable) -->
    <ng-container *ngIf="editableAnswers">
      <div class="col-3 fw-bold">
        <label i18n="@@wrongAnswer3">Wrong Answer 3</label>
      </div>
      <div class="col-9">
        <input class="form-control w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer3"
               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
      </div>
    </ng-container>

    <!-- admin token -->
    <div class="col-3 fw-bold">
      <label i18n="@@adminToken">Admin Token</label>
    </div>
    <div class="col-9">
      <input class="form-control w-100 p-2" [(ngModel)]="adminToken"
             (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </div>

    <!-- error message -->
    <div class="col-12 text-center text-danger modal-error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <!-- actions -->
    <div class="col-12">
      <div class="row">
        <!-- make answers editable if currently not editable -->
        <div class="col-4" *ngIf="!editableAnswers">
          <button class="btn btn-secondary w-100 h-100" (click)="setEditableAnswers(true)" i18n="@@editAnswers">
            Edit Answers
          </button>
        </div>

        <!-- make answers not editable if currently editable -->
        <div class="col-4" *ngIf="editableAnswers">
          <button class="btn btn-secondary w-100 h-100" (click)="setEditableAnswers(false)" i18n="@@doNotEditAnswers">
            Don't edit Answers
          </button>
        </div>

        <!-- cancel -->
        <div class="col-4">
          <button class="btn btn-secondary w-100 h-100" (click)="modalRef.dismiss()" i18n="@@cancel">
            Cancel
          </button>
        </div>

        <!-- save -->
        <div class="col-4">
          <button class="btn btn-primary w-100 h-100" (click)="saveQuestion()" [disabled]="!savingEnabled" i18n="@@save">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
