<!-- title and close button -->
<div class="modal-header">
  <h4 i18n="@@editQuestion">Edit Question</h4>
  <button type="button" class="close">
    <span aria-hidden="true" (click)="modalRef.dismiss()">&times;</span>
  </button>
</div>

<!-- question data -->
<table class="table table-borderless modal-table">
  <!-- configure column size -->
  <thead>
  <tr>
    <td style="width: 30%"></td>
    <td style="width: 70%"></td>
  </tr>
  </thead>
  <!-- question ID -->
  <tr>
    <th i18n="@@id">ID</th>
    <td>{{editedQuestion.id}}</td>
  </tr>
  <!-- question text -->
  <tr>
    <th i18n="@@questionText">Question Text</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.questionText"
                               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
  <!-- question correct answer -->
  <tr *ngIf="!editableAnswers">
    <th i18n="@@correctAnswer">Correct Answer</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th i18n="@@correctAnswer">Correct Answer</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.correctAnswer"
                               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
  <!-- wrong answer 1 (once shown, once masked by stars for hiding the answer) -->
  <tr *ngIf="!editableAnswers">
    <th i18n="@@wrongAnswer1">Wrong Answer 1</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th i18n="@@wrongAnswer1">Wrong Answer 1</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer1"
                               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
  <!-- wrong answer 2 (once shown, once masked by stars for hiding the answer) -->
  <tr *ngIf="!editableAnswers">
    <th i18n="@@wrongAnswer2">Wrong Answer 2</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th i18n="@@wrongAnswer2">Wrong Answer 2</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer2"
                               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
  <!-- wrong answer 3 (once shown, once masked by stars for hiding the answer) -->
  <tr *ngIf="!editableAnswers">
    <th i18n="@@wrongAnswer3">Wrong Answer 3</th>
    <td>**********</td>
  </tr>
  <tr *ngIf="editableAnswers">
    <th i18n="@@wrongAnswer3">Wrong Answer 3</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="editedQuestion.wrongAnswer3"
                               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
  <!-- admin token -->
  <tr>
    <th i18n="@@adminToken">Admin Token</th>
    <td class="px-2">
      <input class="w-100 p-2" [(ngModel)]="adminToken"
                               (ngModelChange)="enableOrDisableSaveButtonAccordingToInput()" />
    </td>
  </tr>
</table>

<!-- error message -->
<div *ngIf="errorMessage" class="text-center color-red modal-error">
  <p>{{errorMessage}}</p>
</div>

<!-- actions -->
<div class="btn-group modal-buttons">
  <!-- make answers editable if currently not editable -->
  <button *ngIf="!editableAnswers"
          class="btn btn-block btn-info rounded my-0 mx-2" (click)="setEditableAnswers(true)"
          i18n="@@editAnswers">
    Edit Answers
  </button>
  <!-- make answers not editable if currently editable -->
  <button *ngIf="editableAnswers"
          class="btn btn-block btn-info rounded my-0 mx-2" (click)="setEditableAnswers(false)"
          i18n="@@doNotEditAnswers">
    Don't edit Answers
  </button>
  <!-- cancel -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="modalRef.dismiss()" i18n="@@cancel">
    Cancel
  </button>
  <!-- save -->
  <button class="btn btn-block btn-info rounded my-0 mx-2" (click)="saveQuestion()" [disabled]="!savingEnabled"
          i18n="@@save">
    Save
  </button>
</div>

<!-- div with explicit space for workaround margin when scrollable -->
<div>&nbsp;</div>
