/* You can add global styles to this file, and also import other style files */

/*
 * colors
 */

.color-red {
  color: red;
}

/*
 * outer elements
 */

:root {
  --info-hover: #138496;
}

html, body {
  background: ghostwhite;
}

/*
 * remove button focus outlines
 */

.btn:focus {
  box-shadow: none;
}

/*
 * accordion buttons
 */

.bg-info > button {
  color: white;
}

.bg-info > button:hover {
  color: white;
  font-weight: bold;
  text-decoration-line: underline;
}

/*
 * modals
 */
.modal-content {
  padding: 1em;
}

.component-host-scrollable {
  overflow-y: auto !important;
}

.modal-table {
  width: 95%;
}

.modal-table td, .modal-table th {
  vertical-align: middle;
}

.modal-table th {
  padding-left: 0;
}

.modal-error {
  width: 95%;
}
