<!-- vertical centered container -->
<div class="container h-100">
  <div class="row h-100">
    <div class="col my-auto">

      <!-- header -->
      <h1 class="h1 text-center mb-4">QuizMaster</h1>

      <!-- buttons -->
      <div class="container">
        <!-- play quiz -->
        <div class="row m-3">
          <div class="col-12">
            <button class="btn btn-block btn-info" routerLink="/select-quiz-format" i18n="@@playQuiz">
              Play a Quiz
            </button>
          </div>
        </div>
        <!-- manage predefined quizzes -->
        <div class="row m-3">
          <div class="col-12">
            <button class="btn btn-block btn-info" routerLink="/manage-predefined-quizzes" i18n="@@managePredefinedQuizzes">
              Manage predefined Quizzes
            </button>
          </div>
        </div>
        <!-- manage questions -->
        <div class="row m-3">
          <div class="col-12">
            <button class="btn btn-block btn-info" routerLink="/manage-questions" i18n="@@manageQuestions">
              Manage Questions
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
