<div class="container text-center">
  <!-- finish info -->
  <div class ="row mb-5">
    <div class="col">
      <h2 class="mb-5" i18n="@@hdrFinished">Finished!</h2>
    </div>
  </div>

  <!-- quiz name -->
  <div class ="row">
    <div class="col">
      <h4>{{playQuizService.quizState.quizName}}</h4>
    </div>
  </div>

  <hr />

  <!-- answer statistics -->
  <div class="row">
    <div class="col">
      <span i18n="@@correctAnswers">Correct Answers: </span>
      <span class="font-weight-bold">{{playQuizService.quizState.correctAnswers}}</span>
    </div>
    <div class="col">
      <span i18n="@@wrongAnswers">Wrong Answers: </span>
      <span class="font-weight-bold">{{playQuizService.quizState.wrongAnswers}}</span>
    </div>
  </div>

  <hr class="mb-5" />

  <!-- go to menu -->
  <div class="row my-4 mx-2" (click)="clearQuizStateAndGoToMenu()">
    <button class="btn btn-info rounded w-100 p-3 m-3" i18n="@@backToStart">
      Back to the main menu
    </button>
  </div>
</div>
